.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
  // background: yellow;
  .form-content {
    display: flex;
    justify-content: center;
    // background: red;
    align-items: center;
    flex-direction: column;
    min-width: 650px;
    margin: 3rem 0;
    // background: yellow;
    & > h2 {
      color: $primary-900;
      width: 100%;
      margin-bottom: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      background: white;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 1rem;
      border-radius: 8px;
      label {
        margin-bottom: 5px;
        font-size: 18px;
      }
      input {
        margin-bottom: 12px;
        padding: 8px;
        border-radius: 3px;
        outline: none;
        border: 1px solid $primary-200;
        font-size: 1rem;
        transition: all 0.1s ease;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        &:focus {
          border: 1px solid $primary-700;
        }
      }
      .inputs {
        display: flex;
        justify-content: space-between;
        .input {
          display: flex;
          flex-direction: column;
          width: 48%;
          select {
            // background: white;
            border: none;
            padding: 8px;
            margin-bottom: 12px;
            border-radius: 3px;
            border: 1px solid $primary-200;
            font-size: 1rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
            background: white;
          }
        }
      }
      .form-actions {
        button {
          background: $primary-100;
          padding: 6px 12px;
          font-size: 14px;
          margin-bottom: 10px;
          cursor: pointer;
          transition: all 0.3s ease;
          border: none;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
          &:hover {
            background: $primary-50;
          }
        }
        p {
          a {
            color: $primary-900;
            &:hover {
              color: $primary-800;
            }
          }
        }
      }
    }
  }
  :global(.react-date-picker__wrapper) {
    padding: 2.5px;
    border-radius: 3px;
    border: 1px solid $primary-200;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-bottom: 12px;
  }
  :global(.react-date-picker__inputGroup__input) {
    // background: red !important;
    background: white !important;
    padding: 0 !important;
    border: none !important;
    text-align: center;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 740px) {
  .form-container {
    .form-content {
      min-width: 0;
      width: 85%;
    }
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    .form-content {
      form {
        .inputs {
          flex-direction: column;
          .input {
            width: 100%;
          }
        }
      }
    }
  }
}

// .login-container{
//     .form-container{
//         align-items: center;
//         .form-content{
//             margin-top: 0;
//         }
//     }
// }
